
<style>
.site-footer {
 
    text-align: center;
    font-size: 14px;
    color: #fff; 
    padding: 20px 0; 
}

.site-footer p {
    margin: 0;
}

.site-footer ul {
    list-style: none;
    padding: 0;
}

.site-footer ul li {
    display: inline-block;
    margin-right: 20px;
}

.site-footer a {
    text-decoration: none;
    color: #fff; 
    transition: color 0.3s; 
}

.site-footer a:hover {
    color: #E50914;
}

</style>
<footer class="site-footer">
    <div class="container">
        <div class="footer-content">
            <p>© <%= new Date().getFullYear() %> Fasal &nbsp;&Developed by <a href="https://www.linkedin.com/in/srikanth-godavari-231744226/">Srikanth Godavari</a></p> 
            <ul class="footer-links">
                <li><a href="/">Home</a></li>
                <li><a href="https://github.com/srikanth30510">GitHub</a></li>
                <li><a href="https://srikanth30510.github.io/Portfolio/">Portfolio</a></li>
            </ul>
        </div>
    </div>
</footer>
